/*
* LPB CSS V0.0.1
* 08/03/2023
*/

/* Centrer du texte */
.lpb-text-center { text-align: center; }

/* Centrer un block sur 300px */
.lpb-block-center-300 {
    margin-left: auto;
    margin-right: auto;
    width: 300px;
}

/* Centrer un block sur 500px */
.lpb-block-center-500 {
    margin-left: auto;
    margin-right: auto;
    width: 500px;
}

/* Centrer un block sur 700px */
.lpb-block-center-700 {
    margin-left: auto;
    margin-right: auto;
    width: 700px;
}

/* Centrer un block sur Auto */
.lpb-block-center-auto {
    margin-left: auto;
    margin-right: auto;
    width: auto;
}

/* Centrer une image */
.lpb-img-center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* Surcharge de la largeur maximum */
.lpb-overload-max-width-300 {
    max-width: 300px;
}
.lpb-overload-max-width-500 {
    max-width: 500px;
}
.lpb-overload-max-width-700 {
    max-width: 700px;
}

/* Margin-Top */
.lpb-mt-5 {
    margin-top: 5%;
}
.lpb-mt-10 {
    margin-top: 10%;
}
.lpb-mt-20 {
    margin-top: 20%;
}
.lpb-mt-30 {
    margin-top: 30%;
}

/* Margin-Bottom */
.lpb-mb-5 {
    margin-bottom: 5%;
}
.lpb-mb-10 {
    margin-bottom: 10%;
}
.lpb-mb-20 {
    margin-bottom: 20%;
}
.lpb-mb-30 {
    margin-bottom: 30%;
}

/* Formater certains affichages */
.lpb-div-error {
    background-color: rgb(244, 234, 234);
    border: solid 1px rgb(178, 135, 135);
    color: rgb(164, 14, 14);
    padding : 10px;
    border-radius: 3px;
}

.lpb-div-success {
    background-color: rgb(234, 244, 235);
    border: solid 1px rgb(135, 178, 143);
    color: rgb(14, 164, 34);
    padding : 10px;
    border-radius: 3px;
}

.lpb-div-info {
    background-color: rgb(225, 233, 243);
    border: solid 1px rgb(95, 122, 176);
    color: rgb(14, 79, 164);
    padding : 10px;
    border-radius: 3px;
}