
body{
    background-color: rgb(246, 253, 255);
}
.appTitle {
    color: rgb(18, 183, 183);
    background: linear-gradient(0.25turn, #3f87a6, #ebf8e1, #f69d3c);
    margin-top: 20px;
    padding: 20px;
    font-size: 2em;
    font-weight: bolder;
    border: 1px solid rgb(16, 107, 146);
    border-radius: 5px;
}