body{
    background-color: rgb(245, 245, 245);
}

a.link{
    color: rgb(7, 159, 147);    
    font-size: 15;
}

a.link:hover{
    color: rgb(228, 153, 15) !important;        
}

a.menu{
    color: rgb(252, 21, 117);  
    font-weight: bold;
    font-size: 15;
    text-decoration: none;
    border: 1px solid rgb(252, 21, 117);
    border-radius: 5px;
    padding: 3px;
    margin: 3px;
}

a.menu:hover{    
    background-color: rgb(235, 215, 223);  ;    
}

.header-site{
    max-width: 600px;
    margin: auto;
}

.pathfiles{
    background-color: rgb(245, 245, 245);
    color: rgb(225, 29, 29);
    padding: 4px;
    border-radius: 6px;  
}

.title-h1{
    color: rgb(35, 215, 206);
    font-size: 36px;
    font-weight: bold;
    text-align: center;    
    border: 1px solid rgb(35, 215, 206);
    border-radius: 10px;
    padding: 5px;
}

.text-footer{
    text-align: center;
    font-size: 12px;
    color: rgb(19, 118, 140);  
    margin-top: 10px;
    margin-bottom: 10px;
}

.lpb-info{
    text-align: center;
    font-weight: bold;
    color: rgb(12, 78, 113);
    border: 1px solid rgb(20, 148, 239);
    background-color: rgb(209, 226, 236);
    border-radius: 10px;
    padding: 5px;   
    margin-top: 10px; 
}

.lpb-hr{
    border: 1px solid rgb(10, 97, 93);
    background-color: rgb(209, 236, 235);
    border-radius: 10px;
    padding: 5px;
}

.lpb-pathfile{
    color: rgb(209, 226, 236);
    border: 1px 1px 0 1px solid rgb(10, 97, 93);
    background-color: rgb(114, 143, 142);
    border-radius: 10px 10px 0 0;
    text-align: center;
    padding: 5px;
}

.lpb-logo{
    width: 32px;   
    margin-bottom: 10px;
    border: 1px solid rgb(20, 239, 228);
    background-color: rgb(209, 236, 235);
    border-radius: 10px;
    padding: 5px;
}

.lpb-brand{
    width: 64px;   
    margin-bottom: 10px;
    border: 1px solid rgb(20, 239, 228);
    background-color: rgb(209, 236, 235);
    border-radius: 10px;
    padding: 5px;
    margin: 10px 0;
 
}

.lpb-h1-script{
    text-align: center;    
    color: rgb(12, 113, 110);
    border: 1px solid rgb(20, 239, 228);
    background-color: rgb(209, 236, 235);
    border-radius: 10px;
    padding: 5px;
    margin: 20px;
}

.lpb-marker{
    color: rgb(244, 21, 132);  
    font-weight: 500; 
}

.lpb-msg{
    width: 500px;
    font-size: 1.7em;
    text-align: center;
    font-weight: bold;
    color: rgb(246, 17, 17);
    border: 1px solid rgb(165, 21, 21);
    background-color: rgb(228, 213, 213);
    border-radius: 10px;
    padding: 10px;   
    margin: 20px; 
}

.lpb-github{
    width: 15px !important;
    vertical-align: top !important;   
    margin-left: 3px;
}
