@import url("https://fonts.googleapis.com/css2?family=Exo+2:wght@300;700;900&display=swap");

:root{
    --body-backg-color: rgb(246, 254, 255);
    --header-backg-color: rgb(217, 244, 253);
    --menu-item-color: rgb(15, 125, 235);
    --menu-item-color-hover: rgb(12, 72, 132);
    --danger-color: rgb(217, 12, 12);
    --backg-msg-danger-color: rgb(255, 208, 208);
    --success-color: rgb(39, 156, 18);
    --backg-msg-success-color: rgb(222, 254, 180);
    --danger-color-hover: rgb(147, 13, 13);
    --link-color: rgb(1, 125, 248);
    --published-color: rgb(74, 192, 41);
    --white-color: rgb(255, 255, 255);

    --border-width: 1px;
}

/* ***************************** */
/*        ELEMENTS RULES         */
/* ***************************** */

body {
  font-family: "Exo 2", sans-serif;
  font-size: 1.1rem;
  background-color: var(--body-backg-color);
  color: var(--body-color)
}

footer, .footer {
    margin-top: 3rem;
    text-align: center;
    font-size: 0.9rem;
}

h2 {
    color: var(--menu-item-color);
}

h2.title {
    text-align: center;
    margin-bottom: 2rem;
}

h1.title {
    text-align: center;
    margin-bottom: 2.2rem;
    color: var(--menu-item-color);
    border: 1px solid var(--menu-item-color);
    padding: 1.2rem;
    border-radius: 5px;
}

article a, a {
    text-decoration: none;
    color: var(--menu-item-color);
}

a:hover {
    text-decoration: none;
    color: var(--menu-item-color-hover);
}

hr {
    margin: 1rem 0;
    border: var(--border-width) solid var(--menu-item-color);
    opacity: .25;
}

ul {
    list-style-type: none;
}

li {
    line-height: 1.5rem;
    border : 1px solid var(--menu-item-color);
    border-radius: 5px;
    padding: 5px;
    margin: 0 0 5px 0;
    color: var(--menu-item-color) !important;
}

li:hover {
    background-color: var(--menu-item-color);
    cursor: pointer;
    color: var(--white-color) !important;
}

li a {
    text-decoration: none;
    color: var(--menu-item-color) !important;
    display: block;
}

li a:hover {
    text-decoration: none;
    color: var(--white-color) !important;
}

/* ***************************** */
/*         CLASSES RULES         */
/* ***************************** */

.article-item {
    padding: 10px;  
}

.article-item:hover {
    background-color: var(--menu-item-color);
    color: var(--body-backg-color);
    border-radius: 5px; 
}

.container {   
    margin: 0 1rem 0 1rem;
}

.btn-classic {
    font-size: 1.2rem;
    color: var(--menu-item-color);
    border: 1px solid var(--menu-item-color);
    border-radius: 5px;
    padding: 5px;
    margin-right: 10px;    
    font-weight: bold;
}

.btn-classic:hover {
    background-color: var(--menu-item-color-hover);
    color: var(--body-backg-color);
    border: 1px solid var(--menu-item-color-hover);
}

.btn-mini {
    font-size: 0.7rem;
    background-color: var(--menu-item-color);
    color: var(--body-backg-color);
    border: 1px solid var(--menu-item-color);
    border-radius: 5px;
    padding: 5px;
    margin-right: 10px;    
    font-weight: bold;
}

.btn-mini:hover {
    background-color: var(--menu-item-color-hover);
    color: var(--body-backg-color);
    border: 1px solid var(--menu-item-color-hover);
}

.btn-danger {
    background-color: var(--danger-color)!important;
    color: var(--body-backg-color) !important;
    border: 1px solid var(--danger-color)!important;
}

.btn-danger:hover {
    background-color: var(--danger-color-hover)!important;
    color: var(--body-backg-color)!important;
    border: 1px solid var(--danger-color-hover)!important;
}

.menu {
    list-style-type: none;   
    padding-left: 0; 
    margin-bottom: 2rem;
}

.menu a {
    text-decoration: none;
    border: 1px solid var(--menu-item-color);
    border-radius: 5px;
    color: var(--menu-item-color);
    padding: 3px;
    margin-right: 10px;
 }

.menu a:hover {
    color: var(--menu-item-color-hover);
    border: 1px solid var(--menu-item-color-hover);
    background-color: var(--menu-item-color);
    color: var(--body-backg-color);
    font-weight: 500;
}

.msg-success {
    margin: auto;
    padding: 1.5rem;
    font-size: 1.3rem;
    text-align: center;
    color: var(--success-color);
    background-color: var(--backg-msg-success-color);
    border: 1px solid var(--success-color);
    border-radius: 5px;
    width: 80%;
}

.msg-error {
    margin: auto;
    margin-bottom: 1rem;
    padding: 1.5rem;
    font-size: 1.3rem;
    text-align: center;
    color: var(--danger-color);
    background-color: var(--backg-msg-danger-color);
    border: 1px solid var(--danger-color);
    border-radius: 5px;
    width: 80%;
}


.circle-published {
    display: inline-block;
    background: var(--published-color);
    border-radius: 50%;
    width: 15px;
    height: 15px;
    shape-outside: circle();
    clip-path: circle();  
    border: 1px solid black;
    margin-right: 5px;
    vertical-align: middle;
}

.circle-not-published {
    display: inline-block;
    background: var(--danger-color);
    border-radius: 50%;
    width: 15px;
    height: 15px;  
    shape-outside: circle();
    clip-path: circle();
    border: 1px solid black;
    margin-right: 5px;
    vertical-align: middle;
}

.mt-15 {
    margin-top: 1.5rem;
}

.welcome {
    text-align: center;
    font-size: .750rem;
    margin-bottom: 1rem;
}

.welcome > span {
    color: var(--link-color);
}

/* ***************************** */
/*           IDs RULES           */
/* ***************************** */

#header-logo {
    color: var(--menu-item-color);
    border: 1px solid var(--menu-item-color);
    background-color: var(--header-backg-color);
    border-radius: 5px;
    text-align: center;
    max-width: 55%;    
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1rem;
    margin-top: 0.8rem;
}

#main-menu {
    display: block;  
    margin: 0;
    text-align: center;
}

#main-menu ul {        
    list-style-type: none; 
}

#main-menu ul li {
    display: inline;    
    margin: 0 !important;   
}

#content, #content-edit, #content-add {
    display: block;
    width: 90%;
    margin: auto;
}

#content-login {
    display: block;
    width: 55%;
    margin: auto;
}

/* ***************************** */
/*          FORM RULES           */
/* ***************************** */

label {
    display: block;
    font-size: 1.1rem;
    font-weight: bold !important;
    box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
}

.form-ctrl { 
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: var(--menu-item-color);    
    background-color: var(--header-backg-color);
    background-clip: padding-box;
    border: var(--border-width) solid var(--menu-item-color);
    border-radius: 5px;
    margin-bottom: 1.5rem;        
}

input, textarea, input[type="checkbox"], input[type="radio"], input[type="file"] {
    background-color: var(--body-backg-color) !important;
    box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
}
